
.wrapper{
  height:auto;
  width: 700px;
  background-color: #fff;
  border-radius: 4px;
  margin:0 auto;
  margin-top: 10vh;
}

.galleryboxmain{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding:20px;
    
    .grid-item {
        
        
        
        background-color: #fff;
        border-radius: 5px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
      }
    }

    .wide {
        grid-column: span 2;
        grid-row: span 2;
      }
      .Board{
        width: 400px;
        height: 400px;
        border:1px solid red;
    }

    .topbar{
      height: 50px;
      width: 700px;
      border-bottom: 1px solid #eee;
      align-items: center;
      display: flex;
      
      justify-content:space-between;
      .left{
        align-items: center;
      display: flex;
      padding-left: 15px;
      p{        
        margin-left: 15px;
        font-size: 20px;
        font-weight: 700;
      }

      }
      .right{
        display: flex;
        align-items: center;
        padding-right: 15px;
        p{                  
          font-size: 15px;
          font-weight: 700;
          color:red;
          cursor:pointer;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }